<nav class="navbar">
  <button class="burger-btn" (click)="toggleMenu()">☰</button>
</nav>

<div class="burger-menu" *ngIf="menuOpen">
  <a routerLink="/">Accueil</a>
  <a routerLink="/about">À propos</a>
  <a routerLink="/contact">Contact</a>
</div>

    <nav class="navbar">
        <div class="back-button">
            <svg width="44" height="44" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_100_1598" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="64"
                    height="64">
                    <rect width="64" height="64" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_100_1598)">
                    <path
                        d="M26.6667 48L10.6667 32L26.6667 16L30.4001 19.8667L20.9334 29.3333H53.3334V34.6667H20.9334L30.4001 44.1333L26.6667 48Z"
                        fill="#1C1B1F" />
                </g>
            </svg>
            <a href="#">Retour</a>
            <button class="back-btn" (click)="goBack()">← Retour</button>
        </div>
        <div class="">
            <h1 class="page-title">{{ pageTitle }}</h1>
        </div>
        <div>
            <button class="burger-btn" (click)="toggleMenu()">☰</button>
        </div>
    </nav>