<div class="container" *ngIf="hike">
    <div class="page-background-color">
        <app-page-title
            [title]="' '"
            [showBackButton]="true"
            [titleColor]="'black'"
        ></app-page-title>
        <div class="content">
            <img [src]="hike.imagePath" class="image-lausanne" [alt]="hike.title">
            <div class="right-column">
                <div class="text-content">
                    <h1>{{ hike.title }}</h1>
                    <p>{{ hike.description }}</p>
                    <div class="info-map-container">
                        <div class="info">
                            <h2>Informations</h2>
                            <div class="info-item"><span class="dot"></span> {{ hike.duration }} Min</div>
                            <div class="info-item"><span class="dot"></span> {{ hike.location }}</div>
                            <div class="info-item"><span class="dot"></span> {{ hike.difficulty }}</div>
                        </div>
                        <div class="map-section">
                            <iframe [src]="safeMapUrl" class="map-image" title="Carte"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
