<div class="container">
<div class="page-background-color">

    <app-page-title
    [title]="' '"
    [showBackButton]="true"
    [titleColor]="'black'"
    ></app-page-title>


    <div class="content">
    <img src="/pictures/lausanne.png" class="image-lausanne" alt="Lausanne" />

        <div class="right-column">
            <div class="text-content">
                <h1>Lausanne</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <div class="info-map-container">
                    <div class="info">
                        <h2>Informations :</h2>
                        <div class="info-item"><span class="dot"></span> 45 Min</div>
                        <div class="info-item"><span class="dot"></span> Vaud</div>
                        <div class="info-item"><span class="dot"></span> Normal</div>
                    </div>

                    <div class="map-section">
                        <img src="/pictures/map.png" class="map-image" alt="Carte" />
                        <p>Voir l’itinéraire</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>