<div class="page-background-color">

    <app-page-title
    [title]="'Nos Balades'"
    [showBackButton]="true"
    [titleColor]="'black'"
    ></app-page-title>

    <section class="filters">
        <div class="dropdown">
            <button class="dropdown-toggle">Durée</button>
            <ul class="dropdown-menu">
                <li>15 minutes</li>
                <li>30 minutes</li>
                <li>45 minutes</li>
                <li>1 heure</li>
                <li>1h30</li>
                <li>2 heures et plus…</li>
            </ul>
        </div>
        <div class="dropdown"><button class="dropdown-toggle">Cantons</button>
            <ul class="dropdown-menu">
                <li>15 minutes</li>
                <li>30 minutes</li>
                <li>45 minutes</li>
                <li>1 heure</li>
                <li>1h30</li>
                <li>2 heures et plus…</li>
            </ul>
        </div>
        <div class="dropdown"><button class="dropdown-toggle">Ville</button>
            <ul class="dropdown-menu">
                <li>15 minutes</li>
                <li>30 minutes</li>
                <li>45 minutes</li>
                <li>1 heure</li>
                <li>1h30</li>
                <li>2 heures et plus…</li>
            </ul>
        </div>
        <div class="dropdown"><button class="dropdown-toggle">Rayon</button>
            <ul class="dropdown-menu">
                <li>15 minutes</li>
                <li>30 minutes</li>
                <li>45 minutes</li>
                <li>1 heure</li>
                <li>1h30</li>
                <li>2 heures et plus…</li>
            </ul>
        </div>
        <div class="dropdown"><button class="dropdown-toggle">Difficulté</button>
            <ul class="dropdown-menu">
                <li>15 minutes</li>
                <li>30 minutes</li>
                <li>45 minutes</li>
                <li>1 heure</li>
                <li>1h30</li>
                <li>2 heures et plus…</li>
            </ul>
        </div>
    </section>

    <section>
        <div>
            <h2 class="page-title">Liste des balades</h2>
            <ul class="hikes-list">
                <li class="hike-item">
                    <div class="hike-card">
                        <h3 class="hikes-name">Nom de la balade</h3>
                        <img src="https://picsum.photos/430/188" alt="placeholder" class="hike-image" />
                        <div class="hike-details">
                            <p>Description : Balade agréable à travers la forêt et les champs.</p>
                            <div class="hike-info">
                                <p>Durée : 45 minutes</p>
                                <p>Difficulté : Facile</p>
                            </div>
                        </div>
                        <div class="hike-button-container">
                            <button class="hike-button">
                                <a href="#">Ouvrir</a>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="hike-item">
                    <div class="hike-card">
                        <h3 class="hikes-name">Nom de la balade</h3>
                        <img src="https://picsum.photos/430/188" alt="placeholder" class="hike-image" />
                        <div class="hike-details">
                            <p>Description : Balade agréable à travers la forêt et les champs.</p>
                            <div class="hike-info">
                                <p>Durée : 45 minutes</p>
                                <p>Difficulté : Facile</p>
                            </div>
                        </div>
                        <div class="hike-button-container">
                            <button class="hike-button">
                                <a href="#">Ouvrir</a>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="hike-item">
                    <div class="hike-card">
                        <h3 class="hikes-name">Nom de la balade</h3>
                        <img src="https://picsum.photos/430/188" alt="placeholder" class="hike-image" />
                        <div class="hike-details">
                            <p>Description : Balade agréable à travers la forêt et les champs.</p>
                            <div class="hike-info">
                                <p>Durée : 45 minutes</p>
                                <p>Difficulté : Facile</p>
                            </div>
                        </div>
                        <div class="hike-button-container">
                            <button class="hike-button">
                                <a href="#">Ouvrir</a>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>