<div class="page-background-color">
    <app-page-title [title]="'Nos Balades'" [showBackButton]="true" [titleColor]="'black'">
    </app-page-title>

    <section class="filters">

        <div class="dropdown">
            <button class="dropdown-toggle" (click)="toggleDropdown('duration')">Durée</button>
            <ul class="dropdown-menu" *ngIf="openDropdown === 'duration'">
                <li (click)="selectedDuration = '60'; filterHikes()">1 heure</li>
                <li (click)="selectedDuration = '90'; filterHikes()">1h30</li>
                <li (click)="selectedDuration = '120'; filterHikes()">2 heures</li>
                <li (click)="selectedDuration = '150'; filterHikes()">2h30</li>
                <li (click)="selectedDuration = '180'; filterHikes()">3 heures</li>
                <li (click)="selectedDuration = '300'; filterHikes()">5 heures</li>
            </ul>
        </div>


        <div class="dropdown">
            <button class="dropdown-toggle" (click)="toggleDropdown('canton')">Cantons</button>
            <ul class="dropdown-menu" *ngIf="openDropdown === 'canton'">
                <li (click)="selectedCanton = 'Valais'; filterHikes()">Valais</li>
                <li (click)="selectedCanton = 'Neuchâtel'; filterHikes()">Neuchâtel</li>
                <li (click)="selectedCanton = 'Berne'; filterHikes()">Berne</li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="dropdown-toggle" (click)="toggleDropdown('difficulty')">Difficulté</button>
            <ul class="dropdown-menu" *ngIf="openDropdown === 'difficulty'">
                <li (click)="selectedDifficulty = 'facile'; filterHikes()">Facile</li>
                <li (click)="selectedDifficulty = 'moyen'; filterHikes()">Moyenne</li>
                <li (click)="selectedDifficulty = 'difficile'; filterHikes()">Difficile</li>
            </ul>
        </div>

        <button class="dropdown-toggle reset-button" (click)="resetFilters()">Réinitialiser</button>
    </section>

    <section class="active-filters" *ngIf="selectedDuration || selectedCanton || selectedCity || selectedDifficulty">
        <p><strong>Filtres appliqués :</strong></p>
        <ul class="active-filters-list">
            <li *ngIf="selectedDuration">
                Durée : {{ selectedDuration }} min
                <span class="remove-filter" (click)="selectedDuration = null; filterHikes()">✕</span>
            </li>
            <li *ngIf="selectedCanton">
                Canton : {{ selectedCanton }}
                <span class="remove-filter" (click)="selectedCanton = null; filterHikes()">✕</span>
            </li>
            <li *ngIf="selectedCity">
                Ville : {{ selectedCity }}
                <span class="remove-filter" (click)="selectedCity = null; filterHikes()">✕</span>
            </li>
            <li *ngIf="selectedDifficulty">
                Difficulté : {{ selectedDifficulty }}
                <span class="remove-filter" (click)="selectedDifficulty = null; filterHikes()">✕</span>
            </li>
        </ul>
    </section>

    <section>
        <div>
            <h2 class="page-title">Liste des balades</h2>
            <ul class="hikes-list">
                <li class="hike-item" *ngFor="let hike of filteredHikes">
                    <div class="hike-card">
                        <h3 class="hikes-name">{{ hike.title }}</h3>
                        <img [src]="hike.imagePath" alt="Image de la balade" class="hike-image" />
                        <div class="hike-details">
                            <p>Description : {{ hike.description }}</p>
                            <div class="hike-info">
                                <p>Durée : {{ hike.duration }} minutes</p>
                                <h3><strong>Difficulté</strong></h3>
                                <p>{{ hike.difficulty }}</p>
                            </div>
                        </div>
                        <div class="hike-button-container">
                            <button class="hike-button">
                                <a [routerLink]="['/hikes-details', hike.id]">Ouvrir</a>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>