<div class="page-background-color">

    <app-page-title
    [title]="'Nos Balades'"
    [showBackButton]="true"
    [titleColor]="'black'"
    ></app-page-title>

    <section class="filters">
        <div class="dropdown">
            <button class="dropdown-toggle">Durée</button>
            <ul class="dropdown-menu">
                <li>< 30 minutes</li>
                <li>30 minutes - 1 heure</li>
                <li>1 heure - 3 heures</li>
                <li>> 3 heurs</li>
            </ul>
        </div>
        <div class="dropdown"><button class="dropdown-toggle">Cantons</button>
            <ul class="dropdown-menu">
                <li>Geneve</li>
                <li>Vaud</li>
                <li>Friboug</li>
                <li>Valais</li>
                <li>Berne</li>
            </ul>
        </div>
        <div class="dropdown"><button class="dropdown-toggle">Ville</button>
            <ul class="dropdown-menu">
                <li>Geneve</li>
                <li>Lausanne</li>
                <li>Berne</li>
                <li>Fribourg</li>
                <li>Sion</li>
            </ul>
        </div>
        <div class="dropdown"><button class="dropdown-toggle">Rayon</button>
            <ul class="dropdown-menu">
                <li>< 30 km</li>
                <li>30km - 60km</li>
                <li>60 km - 100km</li>
                <li>> 100km</li>
            </ul>
        </div>
        <div class="dropdown"><button class="dropdown-toggle">Difficulté</button>
            <ul class="dropdown-menu">
                <li>Facile</li>
                <li>Moyenne</li>
                <li>Dur</li>
            </ul>
        </div>
    </section>

    <section>
        <div>
            <h2 class="page-title">Liste des balades</h2>
            <ul class="hikes-list">
                <li class="hike-item">
                    <div class="hike-card">
                        <h3 class="hikes-name">Nom de la balade</h3>
                        <img src="https://picsum.photos/430/187" alt="placeholder" class="hike-image" />
                        <div class="hike-details">
                            <p>Description : Balade agréable à travers la forêt et les champs.</p>
                            <p></p>
                            <div class="hike-info">
                                <p>Durée : 45 minutes</p>
                                <p>Difficulté : Facile</p>
                            </div>
                        </div>
                        <div class="hike-button-container">
                            <button class="hike-button">
                                <a href="/hikes-details">Ouvrir</a>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="hike-item">
                    <div class="hike-card">
                        <h3 class="hikes-name">Nom de la balade</h3>
                        <img src="https://picsum.photos/430/188" alt="placeholder" class="hike-image" />
                        <div class="hike-details">
                            <p>Description : Balade agréable à travers la forêt et les champs.</p>
                            <div class="hike-info">
                                <p>Durée : 45 minutes</p>
                                <p>Difficulté : Facile</p>
                            </div>
                        </div>
                        <div class="hike-button-container">
                            <button class="hike-button">
                                <a href="/hikes-details">Ouvrir</a>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="hike-item">
                    <div class="hike-card">
                        <h3 class="hikes-name">Nom de la balade</h3>
                        <img src="https://picsum.photos/430/189" alt="placeholder" class="hike-image" />
                        <div class="hike-details">
                            <p>Description : Balade agréable à travers la forêt et les champs.</p>
                            <div class="hike-info">
                                <p>Durée : 45 minutes</p>
                                <p>Difficulté : Facile</p>
                            </div>
                        </div>
                        <div class="hike-button-container">
                            <button class="hike-button">
                                <a href="/hikes-details">Ouvrir</a>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>