.title {
  position: relative;
  top: 100px;

  text-align: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 45px;

  text-align: center;
  letter-spacing: 0.5px;

  color: #FFFFFF;
}