<div class="home-component">
    <app-page-title 
        title="Accueil" 
        [showBackButton]="false"
        [titleColor]="'white'">
    </app-page-title>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis metus nec pu. Morbi ut imperdiet nunc, non hendrerit nunc.</p>
    <button class="hikes-button" mat-flat-button routerLink="/hikes-details">Nos Balades</button>
    <h3 class="about-us-title">A propos de nous</h3>
    <p class="about-us-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis metus nec pu. Morbi ut imperdiet nunc, non hendrerit nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer mollis metus nec pu. Morbi ut imperdiet nunc, non hendrerit nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis metus nec pu. Morbi ut imperdiet nunc, non hendrerit nunc.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis metus nec pu. Morbi ut imperdiet nunc, non hendrerit nunc.
    </p>
</div>